* {
  font-family: 'Outfit';
  font-size: 16px;
  text-align: center;
}

:root {
  --background: hsl(220, 15%, 55%);
  --text: hsl(212, 45%, 89%);
  --container: hsl(0, 0%, 100%);
  --header: hsl(218, 44%, 22%);
}

html,
body {
  background-color: var(--text);
  min-height: 100vh;
  overflow: hidden;
}

.flexer {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.img-container {
  border-radius: 10px;
  margin: 25px 0;
}

.qr-code {
  border-radius: 10px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  padding: 0 18px;
  margin-top: 15px;
  margin-bottom: 0;
}

.text {
  color: var(--background);
  padding: 0 25px 0 25px;
  font-weight: 400;
  margin: 15px 10px 35px 10px;
}

.container {
  width: 350px;
  background-color: var(--container);
  border-radius: 20px;
}
